/* CSS file for angular app */

.flash-message {
	margin-top: 20px;
}

.welcome-container {
	margin: auto;
	width: 50%;
}

.welcome-container.p {
	margin:auto;
	width: 50%;
}

.form-container-content {
	margin: auto;
	width: 50%;
}