<!-- View for contacts tab -->
<div class="left-bar">
	<div class="left-bar-contacts">
		<div class="bar-section-header">
			<p>Contacts</p>
		</div>
		<div class="bar-section-content">
			<div class="contact-chip" ng-repeat="contact in vm.current_friends">{{ contact.first_name }}  {{ contact.last_name }}</div>
		</div>
	</div>
	<div class="left-bar-pending">
		<div class="bar-section-header">
			<p>Pending Contacts</p>
		</div>
		<div class="bar-section-content">
			<div class="pending-contact-chip" ng-repeat="user in vm.current_pending">
				<div class="pending-contact-chip-name">
					<p>{{ user.first_name }} {{ user.last_name }}</p>
				</div>
				<div class="pending-contact-chip-buttons">
					<button class="btn btn-primary btn-xs">Accept</button>
					<button class="btn btn-danger btn-xs">Decline</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="middle-bar">
	<p>Welcome {{ vm.user.first_name }}!</p>
</div>
<div class="right-bar">
	<div class="bar-section-header">
		<p>Add Contacts</p>
	</div>
	<div class="bar-section-content">
		<form method="post">
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" placeholder="Add by username..." id="contact_username" name="contact_username" ng-model="vm.contact_username">
				<button class="btn btn-primary" ng-click="vm.add_contact()">Add</button>
			</div>
		</form>
		<div class="flash-message" ng-if="flash">
            <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
        </div>
	</div>
</div>